./src/Book_manager/test.java
/build
src/Book_manager/test.java
src/Book_manager/test.form
src/Book_manager/uploadFile.form
src/Book_manager/uploadFile.java
uploadedFiles/*
!uploadedFiles/.gitkeep
!gitkeep
rs2xml.jar
/screen shots/
*docx